<div class="row">
  <div class="col-6">
<%= form_with(model: task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="mb-3">
    <%= f.label :status, '仕事' %>
    <%= f.text_field :status, class: 'form-control' %>
   </div>
   
  <div class="mb-3">
    <%= f.label :content, '状態' %>
    <%= f.text_field :content %>
  </div>

  <%= f.submit '投稿', class: 'btn btn-primary' %>
<% end %>
